# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build/Debug outputs
error.txt
tsc_log.txt
build_log.txt

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/ffmpeg*
src-tauri/yt-dlp*
src-tauri/binaries/

# Project specific
Perbaikan/
Filosofi Light dan Dark Mode.md

